@import "tailwindcss";

@font-face {
    font-family: "W95FA";
    src: url("../assets/fonts/W95FA.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --gray: #c3c3c3;
    --gray-light: #f5f5f5;
    --gray-dark: #141414;
    --beige: #fff8dc;
    --blue: #0000ff;
    --blue-dark: #00008b;
    --teal: #008181;
}

body {
    font-family: "W95FA", sans-serif;
    background-color: var(--teal);
}

button:hover {
    cursor: pointer;
}

/* Text colors */
.white-text {
    color: var(--gray-light);
}

.link-text {
    color: var(--blue);
}

/* Border and background */
.gray-background {
    background-color: var(--gray);
}

.beige-background {
    background-color: var(--beige);
}

.title-bar {
    background-color: var(--blue-dark);
    padding: 3px;
}

.border-3d {
    border-top: 3px solid var(--gray-light);
    border-left: 3px solid var(--gray-light);
    border-right: 3px solid var(--gray-dark);
    border-bottom: 3px solid var(--gray-dark);
}

.border-3d-reverse {
    border-top: 3px solid var(--gray-dark);
    border-left: 3px solid var(--gray-dark);
    border-right: 3px solid var(--gray-light);
    border-bottom: 3px solid var(--gray-light);
}

.border-3d-top {
    border-top: 3px solid var(--gray-light);
}

.border-3d-bottom {
    border-bottom: 3px solid var(--gray-light);
}

.border-3d-no-top {
    border-left: 3px solid var(--gray-light);
    border-right: 3px solid var(--gray-dark);
    border-bottom: 3px solid var(--gray-dark);
}

.border-3d-no-bottom {
    border-top: 3px solid var(--gray-light);
    border-left: 3px solid var(--gray-light);
    border-right: 3px solid var(--gray-dark);
}

.border-3d-bottom-reverse {
    border-top: 3px solid var(--gray-light);
    border-left: 3px solid var(--gray-light);
    border-right: 3px solid var(--gray-dark);
    border-bottom: 3px solid var(--gray-light);
}

.button-3d:active {
    border-top: 3px solid var(--gray-dark);
    border-left: 3px solid var(--gray-dark);
    border-right: 3px solid var(--gray-light);
    border-bottom: 3px solid var(--gray-light);
}
